<div class="container">
    <div class="card">
        <div class="card-body">
            <h1>Contacte-me</h1> 
            <form (ngSubmit)="onSubmit(form)" #form="ngForm">                
                <div class="form-group">
                    <label class="form-label">Para</label>
                    <input type="email" class="form-control" name="to" ngModel placeholder="Indique o e-mail" required>
                </div>            
                <div class="form-group">
                    <label class="form-label">Assunto</label>
                    <input type="text" class="form-control" name="subject" ngModel placeholder="Indique o assunto" required>
                </div>
                <div class="form-group">
                    <label class="form-label">Mensagem</label>
                    <textarea name="text" class="form-control" style="max-height:254px;min-height:254px;" ngModel placeholder="Mensagem" required></textarea>
                </div>
                <div class="form-group" style="text-align:right">
                    <button type="submit" class="btn btn-primary">
                        <svg class="text-white" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                        </svg>
                        Enviar
                    </button>
                </div>
            </form>    
        </div>
    </div>
</div>

